// 元素定位
.relative,
.rela {
  position: relative;
}

.absolute,
.abso {
  position: absolute;
}

// 通用flex布局
.flex {
  display: flex;
  flex-direction: row;
}

.flex-1 {
  flex: 1;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

.col-center {
  align-items: center;
}

.col-top {
  align-items: flex-start;
}

.col-bottom {
  align-items: flex-end;
}

.row-center {
  justify-content: center;
}

.row-left {
  justify-content: flex-start;
}

.row-right {
  justify-content: flex-end;
}

.row-between {
  justify-content: space-between;
}

.row-around {
  justify-content: space-around;
}

.align-content {
  align-content: space-between;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.font-weight {
  font-weight: bold;
}

.cursor-pointer {
  cursor: pointer;
}

.white-space {
  white-space: nowrap;
}

.text-overflow {
  // 文字超过省略
  width: 200px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}